div{
    width: 50%;
    min-height: 30px;
    background: beige;
    margin: 10px auto;
    border: solid 1px black;
    box-sizing: border-box;
}

#d1{
    height: 100px;
    background: green;
}

.controls {
    padding: 20px;
}