#square{
    width: 700px;
    height: 600px;
    border: 2px blue solid;
    background: beige;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.box{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
}