.controls{
    width: 50%;
    padding: 10px;
    border:solid 4px blueviolet;
    margin: auto;
}

.squere{
    width: 50%;
    border:solid 4px blueviolet;
    margin: auto;
    height: 400px;
    margin-top: 10px;
    background: beige;
    position: relative;
}

.ball{
    width: 50px;
    height: 50px;
    border: solid 4px brown;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    cursor: crosshair;
}