.assignment {
    width: 50%;
    border: solid 2px cadetblue;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    text-indent: 20px;
    font-weight: bold;
}

.controls {
    width: 50%;
    border: solid 2px cadetblue;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

#result{
    margin-top: 10px;
    border: solid 1px blueviolet;
    height: 20px;
    background: beige;
}